@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.home-navigator {
  position: relative;
  padding: 0 40px 0 80px;
  min-width: 480px;

  .logo {
    position: absolute;
    bottom: 80px;
    left: 80px;
    width: 360px;
    img {
      height: auto;
    }
  }
  .nav-list {
    margin: 40px 0;
    .nav-item {
      width: 120px;
      margin-bottom: 45px;
    }
  }
}

@include phone {
  .home-wrapper{
    display: flex;
  }
  .home-navigator {
    position: fixed;
    padding: 0 40px 0 0;
    z-index: 2;
    height: 100%;
    min-width: 100%;
    pointer-events: none;
    .logo {
      position: unset;
      margin-left: 30px;
      margin-top: 30px;
      width: 315px;
      height: 80px;
      img {
        height: auto;
      }
    }
  }
}
// @media only screen and (min-width: 321px) and (max-width: 1024px) {

//   /* Styles */

// }


.nav-list {
  .nav-item {
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
    a {
      opacity: 1;
      position: relative;
      font-size: 18px;
      font-family: $spec-font-family;
      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -17px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-top: 3px solid transparent;
        border-left: 9px solid #666;
        border-bottom: 3px solid transparent;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.3s;
      }
      &:hover,
      &.active {
        &::before {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
