@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.static {
  width: 100%;
  padding: $padding;
  margin: auto;

  @mixin expand {
    @include bp-w(768px + 2 * $padding) {
      @content;
    }
  }

  p {
    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @include expand {
    width: 768px;
    padding: $padding 0;
  }

  blockquote {
    font-style: italic;
    margin: 40px 0;
    border-left: 3px solid $black;
    padding-left: 15px;
  }

  ul {
    list-style-type: circle;
    list-style-position: outside;
    padding: $padding;
  }

  p,
  a {
    hyphens: auto;
  }

  li {
    display: list-item;
    padding: 5px 0;
  }

  ol li {
    padding: 10px 5px;

    @include expand {
      padding: 15px 5px;
    }
  }

  a {
    color: $purple;
    opacity: 0.7;
    word-wrap: break-word;

    &:hover {
      opacity: 1;
    }
  }

  img,
  iframe {
    width: 95%;
    margin: auto;
    display: block;
    border-radius: 4px;

    @include portrait {
      width: 100%;
      margin: 40px auto;
    }
  }

  iframe {
    height: 400px;
  }
}
