@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.footer {
  $padding: 24px;
  margin-top: $padding;
  text-align: center;
  .link-list {
    display: inline-flex;
    a {
      padding: 14px;
      font-size: 12px;
      color: #999;
      opacity: 1;
    }
  }
  .copyright {
    p {
      margin: 0;
      font-size: 14px;
      color: #999;
    }
  }
}
