@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.post {
  .post-author {
    margin: 0 24px;
    padding: 60px 0;
    text-align: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    .author-avatar {
      margin: auto;
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .author-name {
      margin-top: 12px;
    }
    .author-bio {
      margin-top: 4px;
      color: #333;
      font-size: 14px;
    }
  }
  .near-posts {
    padding: 60px 0 90px;
    @include portrait {
      padding: 48px 0 32px;
    }
    .near-tip {
      padding-bottom: 48px;
      font-size: 24px;
      text-align: center;
      @include portrait {
        padding-bottom: 32px;
      }
    }
    .post-list {
      margin: auto;
      display: flex;
      align-self: center;
      width: 800px;
      overflow: hidden;
      @include portrait {
        width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
      }
    }
    .near-post {
      padding: 0 24px;
      display: block;
      @include portrait {
        margin: auto;
        width: auto;
        padding: 0 6px;
      }
      .background-container {
        display: block;
        width: 220px;
        height: 220px;
        opacity: 1;
        @include portrait {
          width: 100%;
        }
      }
      .post-title {
        margin-top: 12px;
        font-size: 14px;
        text-align: center;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        @include portrait {
          margin: 12px 0 32px;
        }
      }
    }
  }
}
