.background-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  .background-inner {
    position: absolute;
    background-image: url(https://img.alicdn.com/tfs/TB1ZRXdpb_I8KJjy1XaXXbsxpXa-618-614.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: transform .3s;
  }
  &:hover {
    .background-inner {
      transform: scale(1.1);
    }
  }
}