@import '../variables/manifest';

.title,
.headline {
  text-align: center;
  padding: 0 10px;
  width: 100%;
  margin: auto;
  word-wrap: break-word;
}

.title {
  @include font-size(48px);
  margin: 30px 0 20px 0;

  @include bp-w(768px) {
    @include font-size(72px);
    margin: 45px 0 20px 0;
  }
}

.headline {
  @include font-size(22px);
  max-width: 800px;
  @media screen and (min-width: 600px) {
    @include font-size(36px);
  }
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 80px;
}

.date {
  text-align: center;
  @include font-size(18px);
  padding: 0 0 30px 0;
}

@for $i from 1 through 10 {
  .bg-c-#{$i} {
    background-color: get-palette($i);
  }
}

.text-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
