@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.static {
  $padding: 24px;
  width: 100%;
  // The 6px accounts for line height in the paragraph and makes sure the space at on the side and at the top are exactly the same. This looks great on small screens.
  padding: 24px $padding;
  margin: auto;

  @mixin expand {
    @include bp-w(768px + 2 * $padding) {
      @content;
    }
  }

  p {
    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @include expand {
    width: 768px;
    padding: 50px 0;
  }

  blockquote {
    font-style: italic;
    margin: 40px 0;
    border-left: 3px solid $black;
    padding-left: 15px;
  }

  ul {
    list-style-type: circle;
    list-style-position: outside;
    padding: 25px;
  }

  p,
  a {
    hyphens: auto;
  }

  li {
    display: list-item;
    padding: 5px 0;
  }

  ol li {
    padding: 10px 5px;

    @include expand {
      padding: 15px 5px;
    }
  }

  a {
    color: $purple;
    border-bottom: 1px solid $purple;
    opacity: 0.7;
    word-wrap: break-word;

    &:hover {
      opacity: 1;
    }
  }

  img,
  iframe {
    width: 95%;
    margin: auto;
    display: block;
    border-radius: 4px;

    @include bp-w($breakpoint) {
      width: 100%;
      margin: 40px auto;
    }
  }

  iframe {
    height: 400px;
  }
}
