@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.blog-page {
  .blog-post-list {
    display: flex;
    align-items: flex-end;
    padding: 74px 40px 0;
    @include portrait {
      padding-left: 0;
    }
  }
  
  .search-bar {
    z-index: 100;
    display: flex;
    position: absolute;
    top: 0;
    left: 120px;
    width: calc(100% - 120px);
    @include portrait {
      left: 70px;
      width: calc(100% - 70px);
    }
    @include phone {
      overflow-x: auto;
    }
    .filter-list {
      display: flex;
      white-space: nowrap;
      li {
        position: relative;
        > span {
          display: inline-block;
          padding: 22px 30px;
          cursor: pointer;
          @include portrait {
            padding: 22px 18px;
          }
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 16px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-left: 9px solid #555;
          border-bottom: 3px solid transparent;
          transform: translateX(-100%);
          transition: all .3s;
          opacity: 0;
          @include portrait {
            left: 8px;
          }
        }
        &:hover,
        &.active {
          &::before {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }  
}
